body{

    background-color: black;

}

#h1 {
        display: block;
        font-size: 2em;
        font-weight: bold;
    }

#header{
    background-color: black;
    border-bottom: 5px solid red;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#brand{
    color: white;
    font-family: "Audiowide", sans-serif;
}
#differentColor{
    color: red;
}

ul {
    display: block;
    list-style-type: disc;
   
}

#header li {
    display: inline;
    padding: 0 20px;
    font-family: "Audiowide", sans-serif;
}




#header a {
    color: white;
    text-decoration: none;
}

#main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(https://sergiotaco.github.io/html-css-workshop/images/banner.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    height: 90vh;
    position: relative;
}
#main h1 {
    font-size: 60px;
    margin: 200px 0 10px;
    font-family: "Audiowide", sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
#main p {
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
}

p {
    display: block;
  
}
